# ModRewrite activate
RewriteEngine On

# Let files and folder through
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

Modpagespeed Off

# rewrite URL
RewriteRule (.+) index.html?acct=$0 [L,QSA]
