@charset "UTF-8";
@import '/css/base.css';
@import '/css/icons.css';
@import '/css/modal.css';

/*
 * comma between selector means both
 * space between two means parent-child relation
 */

a {
  color: var(--text_color);
  text-decoration: none;
  display: block;
}

a:hover {
  /* color: var(--color_blue); */
  /* TODO: Makes text of clickable toots blue on hover*/
}

h1 {
  color: var(--color_blue);
}

#content {
  width: 600px;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-word;
  word-break: break-word;
}

.centeredbody {
  width:100%;
  display: flex;
  justify-content: center;
}

li {
  /* padding: 12px 16px; */
  /* border: 1px solid; */
  /* border-color: var(--color_dark2); */
}

.bordered {
  border: 1px solid;
  border-color: var(--color_dark2);
}

.large_button {
  background-color: var(--bg_color);
  padding: 16px;
  margin: 0;
  font-size: 16px;
}

#header {
  margin-bottom: 0.3em;
  margin-top: 0.1em;
}

#btn_about {
  float: right;
}


/* TOOT CONTAINERS */

#tweet_list_wrap {
  border-width: 0 1px;
}
#tweet_list {
  border-width: 1px 0 0 0;
}

.single_tweet_wrap {
  display: flex;
}

.single_tweet_li {
  padding: 1px;
  border-width: 0 0 1px 0;
}


/* TOOT CONTENT */

.avi_container {
  margin-left: 5px;
  margin-top: 10px;
}
.avi {
  object-fit: cover;
  border-radius: 50%;
}

/* TOOT HEADER */

.tweet_header {
  display:flex;
}

.toot_header_names {
  flex: 1;
  display:flex;
	flex-wrap: wrap;
}

.toot_user_name {
  font-weight: bold;
  margin-right: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toot_screen_name {
  font-weight: lighter;
  color: var(--color_light3);
  text-overflow: ellipsis;
}

.content_warning {
  font-weight: lighter;
  /* font-style: italic; */
  padding: 0.5em 1em;
  background-color: var(--color_dark3);
  border-radius: 10px;
}

.blur {
  filter: blur(10px);
}

.toot_time {
  align-self: end;
  color: var(--color_light2);
}

/* TOOT CONTENT */

.toot_content {
  flex: 1;
  border: none;
  margin: 10px;
  width: 100%;
}

.toot_pic {
  margin: 4px;
  border-radius: 5%;
  width: 270px;
  height: auto;
}

/* TOOT FOOTER */

.tweet_footer {
  display:flex;
}

.toot_footer_item {
  flex: 1;
  display:flex;
}

.toot_footer_btn {
  margin-right: 1em;
}

.toot_footer_txt {
  color: var(--text_color);
}


/* ** */


.snac_icon {
  margin-right: 0.2em;
}

button .svg_icon {
  fill: var(--color_light2);
}

button .svg_icon {
  fill: var(--color_light2);
}

button.active .svg_icon:hover {
  fill: var(--color_blue);
}

/* .svg_icon { */
/*   fill: var(--color_light2); */
/* } */

/* .svg_icon.enabled:hover { */
/*   fill: var(--color_blue); */
/* } */

.btn_action_favorite.active .svg_icon {
  fill: var(--color_yellow);
}

.btn_action_boost.active .svg_icon {
  fill: var(--color_green);
}

/* .svg_button { */
/*   fill: var(--color_light2); */
/* } */
/* .svg_button:hover { */
/*   fill: var(--color_blue); */
/* } */

.svg_icon_line {
  stroke: var(--color_light2);
  fill: var(--color_dark2);
}

.svg_button_like_active {
  fill: var(--color_blue);
}
