@charset "UTF-8";

/* The Modal (background) */
#modal_background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal_container {
  background-color: var(--color_dark3);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  position: relative;
  width: 80%; /* Could be more or less, depending on screen size */
  /* height: 70%; /1* Could be more or less, depending on screen size *1/ */
}

#modal_container.image {
  padding: 0;
  width: fit-content; /* Could be more or less, depending on screen size */
}

.modal_header {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
}

.btn_close {
  scale: 75%;
}

#modal_content, #modal_content img {
  width: 100%;
  height: 100%;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  min-width: 250px; /* Set a default minimum width */
  background-color: var(--color_dark2);
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  bottom: 0px; /* 30px from the bottom */
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, bottom 0.5s, opacity 0.5s;
  transition-timing-function: ease
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  opacity: 1;
  bottom: 30px;
  visibility: visible;
}

