
#options_container {
  visibility: hidden;
  padding: 0;
  height: 0;
  margin: -1px 0; /* so it doesn't take extra height for the border */
  overflow: hidden;
  transition: height .5s ease, visibility .5s ease;
}

#options_container.show {
  visibility: visible;
  height: 11.5em;
}

.check_option {
  margin: 12px 16px;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 45px;
}

.switch input {
  clip: rect(0 0 0 0);
  outline: none;
}

.switch input:focus + .slider.round {
  outline: solid;
  transition: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .4s ease, visibility 0s;
}


/* slider button part */
.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  transition: all .4s ease, visibility 0s;
  width: 18px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}


.slider.round:before {
  border-radius: 50%;
}

.switch_label {
	left: 60px;
	display: block;
	position: absolute;
	width: 150px;
	top: 0;
}


#btn_apply_options {
  margin: 0.3em;
}
